<div role="heading" class="flex bg-emerald-600 dark:bg-slate-700 justify-between items-center min-h-fit py-2 px-4">
  <span class="text-white text-2xl mr-8">MineOS</span>
  <div class="flex gap-6 justify-between">
    <a [routerLink]="['dashboard']" class="px-2 py-1 rounded text-white border-2 border-transparent" routerLinkActive="border-white">
      Dashboard
    </a>
    <a [routerLink]="['profiles']" class="px-2 py-1 rounded text-white border-2 border-transparent" routerLinkActive="border-white">
      Profiles
    </a>
    <a [routerLink]="['server-details']" class="px-2 py-1 rounded text-white border-2 border-transparent" routerLinkActive="border-white">
      Servers
    </a>
    <a [routerLink]="['calendar']" class="px-2 py-1 rounded text-white border-2 border-transparent" routerLinkActive="border-white">
      Calendar
    </a>
    <a href="https://minecraft.codeemo.com/mineoswiki/index.php"
       class="px-2 py-1 rounded text-white border-2 border-transparent"
       target="_blank">Documentation
    </a>
  </div>
  <div class="flex-grow"></div>
  <div class="flex gap-6 justify-between">
    <button class="px-2 py-1 rounded text-white border-2 border-transparent" (click)="logout()">Logout</button>
  </div>
</div>
