<ng-container *ngIf="userLoggedIn | async">
  <div role="heading">
    <span>MineOS</span>
    <div>
      <a [routerLink]="['dashboard']">
        Dashboard
      </a>
      <a [routerLink]="['profiles']">
        Profiles
      </a>
      <a [routerLink]="['server-details']">
        Servers
      </a>
      <a [routerLink]="['calendar']">
        Calendar
      </a>
      <a href="https://minecraft.codeemo.com/mineoswiki/index.php"
         target="_blank">Documentation
      </a>
    </div>
    <button aria-label="MineOS menu">
      <div>more_vert</div>
    </button>
    <div>
      <button>
        <div>source</div>
        <span>git commit (commitHash)</span>
      </button>
      <ng-container *ngIf="darkMode | async; then light; else dark"></ng-container>
      <button >
        <div>dns</div>
        <span>Refresh Server List</span>
      </button>
      <button >
        <div>sync</div>
        <span>Refresh Profile List</span>
      </button>
      <a href="/admin/index.html">
        <div>exit_to_app</div>
        <span>Legacy interface</span>
      </a>
      <button >
        <div>translate</div>
        <span>Change Localization</span>
      </button>
      <button
              (click)="logout()">
        <div>logout</div>
        <span>LOGOFF</span>
      </button>
    </div>
  </div>
</ng-container>
<ng-template #dark>
  <button (click)="changeMode(true)">
    <div>dark_mode</div>
    <span>Dark Mode</span>
  </button>
</ng-template>
<ng-template #light>
  <button (click)="changeMode(false)">
    <div>light_mode</div>
    <span>Light Mode</span>
  </button>
</ng-template>
