<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout$ | async )?.columns }}"
                 rowHeight="175px">
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout$ | async )?.smallCard?.cols"
                   [rowspan]="( cardLayout$ | async )?.smallCard?.rows">
      <app-mini-card [cardData]="mc"></app-mini-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="( cardLayout$ | async )?.largeCard?.cols"
                   [rowspan]="( cardLayout$ | async )?.largeCard?.rows">
      <app-dashboard-card title="Create Server">
        <app-create-server-list></app-create-server-list>
      </app-dashboard-card>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.largeCard?.cols"
                   [rowspan]="( cardLayout$ | async )?.largeCard?.rows">
      <app-dashboard-card title="Active Servers">
        <app-active-server-list></app-active-server-list>
      </app-dashboard-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
